    <section id="services" class="service-item">
     <div class="container">
            <div class="center wow fadeInDown">
                <h2>Activity</h2>
                <p class="lead">TNKでの主な活動を紹介します。 </p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-12" id="works">
                    <div class="media services-wrap wow fadeInDown">
                        <div class=" col-md-1 ">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div>
                        <div class="media-body col-md-11">
                            <h3 class="media-heading" >勉強会</h3>
                            <p>毎週木曜日に勉強会を行っております。
                            <br>また外部講師をお招きし、夏休み前までの全10回で起業に必要な発案から実行までに必要な要素について学びます。</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-12" id="pj">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="col-md-1">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services2.png">
                        </div>
                        <div class="media-body col-md-11">
                            <h3 class="media-heading">プロジェクト</h3>
                            <p>プロジェクトは、私達の理念である「創新者を輩出」を達成する為のメインの活動であります。<br>
プロジェクトを通して、創新者の素養を獲得していただきます。

では、プロジェクトの内容はどのように決定するのか。

とにかく「自由」です。
自分の直感的にやりたいことを行ってもらいます。<br>
起業と同様、自分の本当にやりたいことを突き詰めてもらいます。
人数は、2名以上であればプロジェクトとして成立します。<br>

これだけ自由なプロジェクトですが、一つだけ制限があります。
それは「圧倒的な結果を残すこと」です。

ぜひTNKにいる超優秀なメンバーと圧倒的な結果を残し、創新者となりましょう。<br></p><a href="/history">過去のPJはこちら</a>
                        </div>
                    </div>
                </div>

<!--                 <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services3.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">部署活動</h3>
                            <p>TNKを支える部署活動についてお伝えします</p>
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services5.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services6.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div> -->                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section>