    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>2014年度団体実績</h2>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="assets/festival.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">5月祭MFA優勝</a> </h3>
                                <p>TNKが五月祭の<a href="http://www.a103.net/may/87/visitor/"style="color:gray">MFA</a>で優勝しました！！！！来ていただいた皆様のおかげで、このような結果を残す事ができました。心から感謝申し上げます。</p>
                                <!-- <a class="preview" href="/assets/festival.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="assets/shinkan.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">新歓合宿</a></h3>
                                <p>チームごとに泊まりこみでビジネスプランを考える、新歓合宿を行いました。審査員にはOBである5人の起業家の方々をお招きしました。</p>
                                <!-- <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/assets/nexate.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">株式会社Nextate設立</a></h3>
                                <p>前代表の森本がオンラインでのオーダーメイドスーツの販売事業を行う株式会社Nextate設立しました。公式サイトは<a href="http://nexate.jp/" style="color:gray">こちら</a></p>
                                <!-- <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/assets/elite.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">ELLITE 開催</a></h3>
                                <p>選び抜かれた仲間と自分が心からやりたい事を「価値ある形」で実行するプログラム企画立案プログラム ELITEを実施しました。</p>
                                <!-- <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/assets/start.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Startup school開催</a></h3>
                                <p>東大でのSkyland Venturesの運営する創業期の起業家向けのスクール型イベントStartup schoolを共同開催しました。</p>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/assets/kbc.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">KBC優勝 </a></h3>
                                <p>KBCビジネスコンテストにTNKから２チームが参加し、山口翔誠率いる週末Quintetがなんと優勝！コンテスト終了後もサービスリリースに向けて爆速で準備中！</p>
                                <<!-- a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/assets/cmworld.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">CMworld PJ 月間80万PV達成 </a></h3>
                                <p>「世界中に心残るCMを届ける」というコンセプトのCMに特化したバイアルメディア<a style="color:gray"href="http://cmworld.jp/">CMworld</a>を作成し月間80万PV達成しました。</p>
                                <!-- <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/assets/labo.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">TNK-startuplabo</a></h3>
                                <p>世界中のスタートアップ情報を集め、起業家に価値ある情報を届けルサイト<a href="http://tnk-startuplaboratory.com/"style="color:gray">tnk-startuplabo</a>を立ち上げました。</p>
                                <!-- <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->
        <section id="services" class="service-item">
     <div class="container">
            <div class="center wow fadeInDown">
                <h2>過去の団体実績</h2>
                <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6" >
                    <div class="media services-wrap wow fadeInDown">
<!--                         <div class=" col-md-1 ">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div> -->
                        <div class="media-body col-md-12">
                            <h3 class="media-heading" >講演会</h3>
                            <p>・DeNA代表取締役社長 南場智子氏<br>
・元マイクロソフト副社長 西和彦氏<br>
・株式会社ぱど代表取締役社長 倉橋泰氏<br>
・ジョルダン株式会社代表取締役社長 佐藤俊和氏<br>
・元ダイヤモンド代表取締役専務 松室哲生氏<br>
・ガートナージャパン株式会社代表取締役社長 日高信彦氏<br>
・タリーズコーヒージャパン創業者 松田公太氏</p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-md-6" >
                    <div class="media services-wrap wow fadeInDown">
<!--                         <div class="col-md-1">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services2.png">
                        </div> -->
                        <div class="media-body col-md-12">
                            <h3 class="media-heading">イベント</h3>
                            <p>・ビジネスドラフト<br>
・キャリアデザインキャンプ<br>
・経営シミュレーション<br>
・スポーツビジネスコンテスト<br>
・TNKアカデミア<br>
・Presentation Olympic <br>
・Venture Energy</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6" >
                    <div class="media services-wrap wow fadeInDown">
<!--                         <div class=" col-md-1 ">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div> -->
                        <div class="media-body col-md-12">
                            <h3 class="media-heading" >出版</h3>
                            <p>なぜ、ベンチャーは失敗しやすいのか?<br>
・東大生が書いたやさしい物理の教科書<br>
・東大生が書いた頭が良くなる数学の教科</p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-md-6" >
                    <div class="media services-wrap wow fadeInDown">
<!--                         <div class="col-md-1">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services2.png">
                        </div> -->
                        <div class="media-body col-md-12">
                            <h3 class="media-heading">事業</h3>
                            <p>・フリーペーパー「合格サプリ」。事業を企業にバイアウト。<br>
・インターン斡旋「イン太郎」。事業を企業にバイアウト。<br>
・バイラルメディアCMworldリリース。月間100万PVを記録<br>
・株式会社Nexate設立(http://nexate.jp/)</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-12">
                    <div class="media services-wrap wow fadeInDown">

                        <div class="media-body">
                            <h3 class="media-heading">集客実績</h3>
                            <p>2007年　リーマンブラザーズ様と共にビジネスコンテストの開催 参加者80名<br>
首都圏最大級ビジネス系向け交流会 参加者150名
2008年　国際起業家フォーラム(米バブソン大学と共催) 参加者100名<br>
2009年 学生団体の代表向けの大交流会-WiE-　参加者120名<br>
2010年　TNKアカデミア　Business Simulation Contest 参加者232名<br>
　　　　 Visionary Student Contest（応募者数100名）<br>
2011年　EF様・エリクソン様・H&M様と共にTNK Global Conferenceの開催 参加者400名<br>
2012年　東大生によるプレゼンテーションイベント　400名以上<br>
2013年　Presentation Olympic 参加者100名以上<br>
2014年　Venture Energy参加者100名以上<br>
2007年~起業家塾　参加者総計600名以上</p>
                        </div>
                    </div>
                </div>  
                <div class="col-sm-6 col-md-12">
                    <div class="media services-wrap wow fadeInDown">

                        <div class="media-body">
                            <h3 class="media-heading">取材履歴</h3>
                            <p>2005年11月　「日経スペシャル　ガイアの夜明け」（テレビ東京）<br>
2005年12月　読売新聞「1200万分の1のメッセージ（起業家編）」<br>
2006年12月　読売新聞「東大解剖」<br>
2007年 1月　「ワールドサテライト」（テレビ東京）<br>
2007年 3月　読売新聞「東大解剖」<br>
2007年11月 就活情報雑誌「就活type」<br>
2007年 4月 めざましどようび<br>
2009年 1月 ベンチャー通信<br>
2009年 5月 メンターダイヤモンド<br>
2011年 8月 日本経済新聞</p>
                        </div>
                    </div>
                </div> 

<!--                 <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services5.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services6.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div> -->                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->