    <section id="feature" class="transparent-bg">
        <div class="container">

            <div class="center wow fadeInDown" id="now" >
                <h2>11期メンバー紹介</h2>
                <p class="lead"></p>
            </div>

            <div class="row">
                <div class="col-md-12 wow fadeInDown" style="margin-bottom: 90px;">
                    <div class="col-md-3" >
                        <img src="/assets/shibuya.jpg" class="img-circle" alt="">
                    </div>
                    <div class=" col-md-9" >
                        <h4><span>-渋谷 幸人 /</span>  東大起業サークルTNK　代表</h4>
                        <h3>ここに紹介文
                        </h3>
                    </div>
                </div>

            <div class="center wow fadeInDown" id="ob">
                <h2>OB・OG紹介</h2>
                <p class="lead"></p>
            </div>

            <div class="row">
                <div class="col-md-12 wow fadeInDown" style="margin-bottom: 90px;">
                    <div class="col-md-3" >
                        <img src="/assets/hotehama.jpg" class="img-circle" alt="">
                    </div>
                    <div class=" col-md-9" >
                        <h4><span>-保手濱彰人 /</span>  ホットティー株式会社代表取締役社長</h4>
                        <h3>ホットティー株式会社代表取締役社長。東京大学起業サークルTNK初代代表。東京大学工学部中退。
2005年に東京大学起業サークルTNKを創設し、その後ビジネスコンテスト「ドリームゲート」で優勝し、堀江貴文氏のカバン持ちを経験。東大在学中にホットティー株式会社を設立。
現在は、スマートフォンゲームの開発を行っている。
                        </h3>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInDown" style="margin-bottom: 90px;">
                    <div class=" col-md-3" >
                        <img src="/assets/takahashi.jpg" class="img-circle" alt="">
                    </div>
                    <div class=" col-md-9" >
                        <h4><span>-高橋飛翔 /</span>  ヴォラーレ株式会社代表取締役社長<</h4>
                        <h3>ヴォラーレ株式会社代表取締役社長。東京大学起業サークルTNK2期代表。東京大学法学部卒。

東大在学中に起業し、VOLALE株式会社を設立。SEOコンサルティング事業を中心に、WEBコンサルティング全般を行う。

現在は、月間300万人が利用するアプリレビューサイト「Appliv」の運営を行っている。

座右の銘は、「自らのための行いは死と共に消えるが、人や世界のための行いは、永遠に生き続ける。」
                        </h3>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInDown" style="margin-bottom: 90px;">
                    <div class=" col-md-3" >
                        <img src="/assets/niwa.jpg" class="img-circle" alt="">
                    </div>
                    <div class=" col-md-9" >
                        <h4><span>-丹羽健二 /</span>  株式会社アイタンクジャパン代表取締役社長</h4>
                        <h3>株式会社アイタンクジャパン代表取締役社長。東京大学起業サークルTNK3期。早稲田大学社会学部卒。

早大卒業後、サイバーエージェントに入社した後、株式会社アイタンクジャパンを設立。

日本最大級の大学生向けインターンシップ情報サイト「キャリアバイト」を運営している。

また、月間60万PV、600団体掲載の大学生向けサークル情報サイト「ガクサー」などの運営も行っている。


                        </h3>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInDown" style="margin-bottom: 90px;">
                    <div class=" col-md-3" >
                        <img src="assets/fukushima.jpg" class="img-circle" alt="">
                    </div>
                    <div class=" col-md-9" >
                        <h4><span>-福島良典 /</span>  株式会社Gunosy代表取締役CEO</h4>
                        <h3>
                        東京大学起業サークルTNK5期。東京大学大学院工学系研究科システム創成学専攻修士課程修了。

東大大学院在学中に、独自のアルゴリズムで個人が興味があると思われるニュースを提案するニュースキュレーションサービス「Gunosy」をリリースし、その後法人化。ウルトラマンを用いたテレビCMでも話題に。

現在400万ダウンロードを越え、イギリスなど海外展開も開始している。
                        </h3>
                    </div>
                </div>
            </div>

        </div><!--/.container-->
    </section><!--/#feature-->