
        <section id="services" class="service-item">
     <div class="container">
            <div class="center wow fadeInDown">
                <h2>12期採用について</h2>
                <p class="lead">公開勉強会に最低1回の参加と、面接への合格が当サークルの入会条件です。<br> 勉強会及び面接への参加希望者は<a href="https://docs.google.com/forms/d/1uM2-1E0qXpykg6y8Gr5nyM-U5UMfx324Mhh5Fji2pIg/edit">こちら</a>で登録お願いします。</p>
            </div>

            <div class="row">
                <div class="col-sm-2 col-md-2" >
                </div>

                <div class="col-sm-8 col-md-8" >
                    <div class="media services-wrap wow fadeInDown">
<!--                         <div class="col-md-1">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services2.png">
                        </div> -->
                        <div class="media-body col-md-12">
                            <h3 class="media-heading">イベント</h3>
                            <p>4/10(木)<br>　第一回公開勉強会<br>　＠国立オリンピック記念青少年総合センター<br>　東京都渋谷区代々木神園町３−１<br><hr>
                            4/12(土)<br>　第二回公開勉強会<br>　＠国立オリンピック記念青少年総合センター<br>　東京都渋谷区代々木神園町３−１<br><hr>
                            4/15(火)<br>　公開イベント<br>　＠株式会社コロプラ本社<br>　東京都渋谷区恵比寿4-20-3 恵比寿ガーデンプレイスタワー11F<br><hr>
                            4/18(金)-21(月)<br>　面接<br>　＠国立オリンピック記念青少年総合センター<br>　東京都渋谷区代々木神園町３−１<br><br><hr>
                            　勉強会及び面接への参加希望者は<a href="https://docs.google.com/forms/d/1uM2-1E0qXpykg6y8Gr5nyM-U5UMfx324Mhh5Fji2pIg/edit">こちら</a>で登録お願いします。
                            </p>
                            <!-- <h3 class="media-heading">アクセス</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12964.246268294333!2d139.693039!3d35.675486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62ff6efc447ae032!2z5Zu956uL44Kq44Oq44Oz44OU44OD44Kv6KiY5b-16Z2S5bCR5bm057eP5ZCI44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1425620710517" width= "100%" height="450" frameborder="0" style="border:0"></iframe><br><br><br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3242.4153490300514!2d139.7134499!3d35.6421371!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b15d7668d33%3A0x287e230b31e3b6eb!2z44CSMTUwLTAwMTMg5p2x5Lqs6YO95riL6LC35Yy65oG15q-U5a-_77yU5LiB55uu77yS77yQ4oiS77yTIOaBteavlOWvv-OCrOODvOODh-ODs-ODl-ODrOOCpOOCueOCv-ODr-ODvA!5e0!3m2!1sja!2sjp!4v1425622290582" width="100%" height="450" frameborder="0" style="border:0"></iframe> -->
                    </div>
                            
                        </div>
                    </div>
                

                <div class="col-sm-2 col-md-2" >
                    
                </div>

                <div class="col-sm-12 col-md-12" >
                    <div class="media services-wrap wow fadeInDown">
<h3 class="media-heading">アクセス</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12964.246268294333!2d139.693039!3d35.675486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62ff6efc447ae032!2z5Zu956uL44Kq44Oq44Oz44OU44OD44Kv6KiY5b-16Z2S5bCR5bm057eP5ZCI44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1425620710517" width= "100%" height="450" frameborder="0" style="border:0"></iframe><br><br><br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3242.4153490300514!2d139.7134499!3d35.6421371!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b15d7668d33%3A0x287e230b31e3b6eb!2z44CSMTUwLTAwMTMg5p2x5Lqs6YO95riL6LC35Yy65oG15q-U5a-_77yU5LiB55uu77yS77yQ4oiS77yTIOaBteavlOWvv-OCrOODvOODh-ODs-ODl-ODrOOCpOOCueOCv-ODr-ODvA!5e0!3m2!1sja!2sjp!4v1425622290582" width="100%" height="450" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>

                                                
            </div><!--/.row-->

        </div><!--/.container-->

    </section>