

<body class="homepage">

 

    <section id="main-slider" class="no-margin">
        <div class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(/assets/tnk_nav2.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">東京大学起業サークルTNK</h1>
                                    <h2 class="animation animated-item-2">東京大学起業サークルTNKのオフィシャルサイトです。</h2>

                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(/assets/tnk_nav5.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <!-- <h1 class="animation animated-item-1">0から1を生み出し世界を変える</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2> -->
                                    <!-- <a class="btn-slide animation animated-item-3" href="#">Read More</a> -->
                                </div>
                            </div>

<!--                             <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="http://shapebootstrap.net/demo/html/corlate/images/slider/img2.png" class="img-responsive">
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(/assets/tnk_nav4.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <!-- <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2> -->
                                    <!-- <a class="btn-slide animation animated-item-3" href="#">Read More</a> -->
                                </div>
                            </div>
<!--                             <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="http://shapebootstrap.net/demo/html/corlate/images/slider/img3.png" class="img-responsive">
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <!-- <a class="prev hidden-xs" href="#main-slider" data-slide="prev">< -->
            <!-- <i class="fa fa-chevron-left"></i> -->
        <!-- </a> -->
        <!-- <a class="next hidden-xs" href="#main-slider" data-slide="next">> -->
            <!-- <i class="fa fa-chevron-right"></i> -->
        <!-- </a> -->
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Principal</h2>
                <h2 style="color:#c52d2f;">創新者の輩出</h2>
                <p class="lead">
                私たちTNKは「創新者の輩出＝新たな当たり前を創る者の輩出」を団体の理念としています。<br>
新しい当たり前を創るとは、「みなが当たり前と思う事、それ自体を変える事」であると考えます。<br>
例えば、エジソンが発明した白熱電球は私たちの「当たり前」の生活を決定的に変えました。<br>「夜になると活動が大きく制限される上に、危険な火に頼らなければならない」という人々の問題を解決し、<br>夜を「非生産的（あるいは非効率的）な時間」から「昼と変わらない生産的な時間」へと再定義しました。<br>今では白熱電球無しの生活が「当たり前」として私たちの目の前にあります。<br>
この様な「新たな当たり前を創る者」を私たちは「創新者」と呼びます。
 <br></p>       
                <h2>Vision</h2>
                <h2 style="color:#c52d2f;">20年後の当たり前を創る</h2>
                <p class="lead">
                    皆TNKはこの「創新者」を志す学生が集い、一年半の活動期間をより濃密なものとなるよう日々切磋琢磨するための場です。<br>ですから、「20年後の世界の当たり前をつくる」が私たちの描くビジョンです。<br>

皆さんは「ペイパルマフィア」を知っていますか？
「ペイパルマフィア」とはペイパルという企業から輩出された人材の集団を指します。<br>
そのメンバーには、テスラモーターズやSpaceXを立ち上げたイーロンマスクやLinkdinを創業したリード・ホフマン、youtubeを創業メンバーであるチャド・ハリーなど世界を変え続けている「創新者」がいます。<br>
これに習うと私たちの目指す団体はさしずめ「TNKマフィア」と呼べるでしょう。<br>
                </p>
            </div>


        </div><!--/.container-->
    </section><!--/#feature-->

<!--     <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>2014年度団体実績</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="assets/festival.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">5月祭MFA優勝</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="/assets/festival.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="assets/shinkan.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">ビジコン合宿</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item3.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">株式会社Nextate設立</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item4.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">ELLITE 開催</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item5.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Startup school開催</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item6.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">KBCビジネスコンテスト優勝 </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item7.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">CMworld PJ 月間80万PV達成 </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item8.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">TNK-startuplabo</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </section>

    <section id="services" class="service-item">
     <div class="container">
            <div class="center wow fadeInDown">
                <h2>Activity</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-12" id="works">
                    <div class="media services-wrap wow fadeInDown">
                        <div class=" col-md-1 ">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services4.png">
                        </div>
                        <div class="media-body col-md-11">
                            <h3 class="media-heading" >勉強会</h3>
                            <p>毎週木曜日に勉強会を行っております。
                            <br>また外部講師をお招きし、夏休み前までの全10回で起業に必要な発案から実行までに必要な要素について学びます。</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-12" id="pj">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="col-md-1">
                            <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/services/services2.png">
                        </div>
                        <div class="media-body col-md-11">
                            <h3 class="media-heading">プロジェクト</h3>
                            <p>プロジェクトは、私達の理念である「創新者を輩出」を達成する為のメインの活動であります。<br>
プロジェクトを通して、創新者の素養を獲得していただきます。

では、プロジェクトの内容はどのように決定するのか。

とにかく「自由」です。
自分の直感的にやりたいことを行ってもらいます。<br>
起業と同様、自分の本当にやりたいことを突き詰めてもらいます。
人数は、2名以上であればプロジェクトとして成立します。<br>

これだけ自由なプロジェクトですが、一つだけ制限があります。
それは「圧倒的な結果を残すこと」です。

ぜひTNKにいる超優秀なメンバーと圧倒的な結果を残し、創新者となりましょう。<br></p><a href="/history">過去のPJはこちら</a>
                        </div>
                    </div>
                </div>

                                                
            </div>
        </div>
    </section>
 -->


    <section id="">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ftnk.venture&amp;width=1200&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=616481418427065" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:290px; " allowTransparency="true" class="facebook"></iframe>
        </div>
    </section><!--/#bottom-->

