<section id="contact-page" style="min-height: calc(100vh - 171px);">
        <div class="container" style="padding-top:75px; min-height:100% ; ">
            <div class="center wow fadeInDown">
                <h2>お問い合わせ</h2>
                <p class="lead">送信完了です<br>お問い合わせいただきありがとうございました。</p>
            </div>
        </div>
</section>
