<!DOCTYPE html>
<html>
<head>
  <title>東大起業サークルTNK</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="東京大学起業サークルTNKのオフィシャルサイトです。創新者の輩出という理念の下、日々活動しています。">
    <meta name="Keywords" content="TNK,東京大学,起業,サークル,インカレ,ビジネス,学生団体,創新者,プロジェクト">
    <meta name="author" content="tnk11th">

  
  <!-- core CSS -->
    <link href="http://shapebootstrap.net/demo/html/corlate/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://shapebootstrap.net/demo/html/corlate/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://shapebootstrap.net/demo/html/corlate/css/animate.min.css" rel="stylesheet">
    <link href="http://shapebootstrap.net/demo/html/corlate/css/prettyPhoto.css" rel="stylesheet">
    <link href="http://shapebootstrap.net/demo/html/corlate/css/main.css" rel="stylesheet">
    <link href="http://shapebootstrap.net/demo/html/corlate/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="https://scontent.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1467455_548005698623149_1655087973_n.jpg?oh=74d00c5df61f87a59f4625d85d854d3a&oe=5576AEBD">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-57-precomposed.png">

    <style type="text/css">  
<!-- 
    @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

-->  
    </style> 
</head>
<body>
   <header id="header"><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/top" style="font-size: 14px;"><img src="/assets/new_tnk_logo_white.jpg" alt="logo"> 東京大学起業サークルTNK</a><!-- <p style="color:white;">東大起業サークルTNK</p> -->
                </div>
        
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="/top">About</a></li>
                        <li class="dropdown ">
                            <a href="/activity" class="dropdown-toggle" data-toggle="dropdown">
                            Activity </a>
                            <ul class="dropdown-menu">
                                <li><a href="/activity#works">勉強会</a></li>
                                <li><a href="/activity#pj">プロジェクト</a></li>
                                <li><a href="/test">アクセラレーターPJ</a></li>
                            </ul>
                        </li>
                        <li><a href="/history">History</a></li>
                        <li class="dropdown">
                            <a href="/member" class="dropdown-toggle" data-toggle="dropdown">Members </a>
                            <ul class="dropdown-menu">
                                <li><a href="/member#now">現役メンバー紹介</a></li>
                                <li><a href="/member#ob">OB・OG紹介</a></li>
                            </ul>
                        </li>
                        <li><a href="/recruit">Recruit</a></li>
                        <!-- <li><a href="/test">Blog</a></li>  -->
                        <li><a href="/contact">Contact</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    
    </header><!--/header-->

<%= yield %>
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 東大起業サークルTNK. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>

    <script src="http://shapebootstrap.net/demo/html/corlate/js/jquery.js"></script>
    <script src="http://shapebootstrap.net/demo/html/corlate/js/bootstrap.min.js"></script>
    <script src="http://shapebootstrap.net/demo/html/corlate/js/jquery.prettyPhoto.js"></script>
    <script src="http://shapebootstrap.net/demo/html/corlate/js/jquery.isotope.min.js"></script>
    <script src="http://shapebootstrap.net/demo/html/corlate/js/main.js"></script>
    <script src="http://shapebootstrap.net/demo/html/corlate/js/wow.min.js"></script>
</body>
</html>
