<!DOCTYPE html>
<html>
<head>
  <title>東大起業サークルTNK</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="東京大学起業サークルTNKのオフィシャルサイトです。創新者の輩出という理念の下、日々活動しています。">
    <meta name="Keywords" content="TNK,東京大学,起業,サークル,インカレ,ビジネス,学生団体,創新者,プロジェクト">
    <meta name="author" content="tnk11th">

  
  <!-- core CSS -->
    <link href="http://shapebootstrap.net/demo/html/corlate/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://shapebootstrap.net/demo/html/corlate/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://shapebootstrap.net/demo/html/corlate/css/animate.min.css" rel="stylesheet">
    <link href="http://shapebootstrap.net/demo/html/corlate/css/prettyPhoto.css" rel="stylesheet">
    <link href="http://shapebootstrap.net/demo/html/corlate/css/main.css" rel="stylesheet">
    <link href="http://shapebootstrap.net/demo/html/corlate/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="https://scontent.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1467455_548005698623149_1655087973_n.jpg?oh=74d00c5df61f87a59f4625d85d854d3a&oe=5576AEBD">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://shapebootstrap.net/demo/html/corlate/images/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>

<%= yield %>

</body>
</html>
